{% extends 'base.html' %}
{% block content %}

<!-- PAGE TITLE
    ================================================== -->
    <header class="py-8 py-md-11" style="background-image: none;">
        <div class="container text-center py-xl-2">
            <h1 class="display-4 fw-semi-bold mb-0">Mental Wellbeing</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                    
                </ol>
            </nav>
        </div>
        <!-- Img -->
        <img class="d-none img-fluid" src="...html" alt="...">
    </header>


    <!-- LOGIN
    ================================================== -->
    <div class="container mb-11">
        <div class="row gx-0">
            <div class="col-md-7 col-xl-4 mx-auto">
                <!-- Login -->
                <h3 class="mb-6">Emotion Based Music Player</h3>
                

                <!-- Form Login -->
                <form class="mb-5" method="post" action="{% url 'detect_faces' %}">

                    {% csrf_token %}
                    <!-- Email -->
                    <div class="form-group mb-5">
                        <label for="modalSigninEmail1">
                             Singer
                        </label>
                        <input type="text" class="form-control" id="modalSinger" placeholder="Enter singer name" name="singer" required>
                    </div>

                    <!-- Password -->
                    <div class="form-group mb-5">
                        <label for="modalSigninPassword1">
                            Language
                        </label>
                        <input type="text" class="form-control" id="modalLanguage" placeholder="Enter language" name="lang" required>
                    </div>

                    <div class="d-flex align-items-center mb-5 font-size-sm">
                        

                        
                    </div>

                    <!-- Submit -->
                    <button class="btn btn-block btn-primary" type="submit">
                        Proceed to Face Detection
                    </button>
                </form>

                <!-- Text -->
               
            </div>
        </div>
    </div>
{% endblock %}

