
{% load static %}

<!-- FOOTER
    ================================================== -->
    <footer class="pt-8 pt-md-11 position-relative bg-darken dark-70 bg-gigas">
        <!-- Shape -->
        <div class="d-none d-wd-block shape shape-blur shape-left shape-flip-one-side shape-fluid-y svg-shim text-white">
            <svg viewBox="0 0 310 800" fill="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px">
            	<path fill="currentColor" d="M193,0H0v800h310c-64.6,0-117-52.4-117-117V0z"/>
            </svg>

        </div>

        <div class="container">
            <div class="row" id="accordionFooter">
                <div class="col-12 col-md-4 col-lg-4">

                    <!-- Brand -->
                    

                    <!-- Text -->
                    <p class="text-gray-800 mb-4 font-size-sm-alone">
                        St Francis Institute Of Technology
                        <br />
                         Sardar Vallabhbhai Patel Rd, near Bhagwati hospital,
                         <br />
                          Mount Poinsur, Borivali West, Mumbai, Maharashtra 400103
                    </p>

                    

                    <div class="mb-4">
                        <a href="mailto:support@MelodyMist.com" class="text-gray-800 font-size-sm-alone">MelodyMist@gmail.com</a>
                    </div>

                    <!-- Social -->
                    
                </div>

                <div class="col-12 col-md-4 col-lg-2">
                    <div class="mb-5 mb-xl-0 footer-accordion">

                        <!-- Heading -->
                        <div id="widgetOne">
                            <h5 class="mb-5">
                                
                                    <span class="ms-auto text-dark">
                                        <!-- Icon -->
                                       

                                    </span>
                                </button>
                            </h5>
                        </div>

                       
        </div> <!-- / .container -->
    </footer>